---
import { STACK_CONTAINER } from '../consts/Consts';
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 xl:gap-12 mt-12">
  {
    STACK_CONTAINER.map(
      ({
        icon: Icon,
        title,
        items,
        bgColor,
        borderColor,
        textColor,
        itemBgColor,
        darkBgColor,
        darkBorderColor,
        darkTextColor,
        darkItemBgColor,
      }) => (
        <article
          class={`flex flex-col gap-6 border-4 ${borderColor} ${darkBorderColor} p-6 rounded-2xl hover:scale-102 transition dark:bg-slate-900`}
        >
          <div class="flex items-center gap-4">
            <Icon
              class={`${bgColor} ${darkBgColor} size-12 p-2 rounded-xl ${textColor} ${darkTextColor}`}
            />
            <h3 class={`${textColor} text-2xl font-semibold`}>{title}</h3>
          </div>
          <div class="grid grid-cols-2 lg:grid-cols-3 place-items-center gap-y-6 gap-x-2">
            {items.map(({ icon: Icon, name }) => (
              <span
                class={`flex flex-col justify-center items-center gap-2 ${itemBgColor} ${darkItemBgColor} w-38 h-32 p-2 text-center rounded-xl hover:saturate-200 transition`}
              >
                <Icon
                  class={`size-13 ${textColor} ${darkTextColor} ${bgColor} ${darkBgColor} p-2 rounded-xl`}
                />
                <h4 class={`font-medium cursor-default`}>{name}</h4>
              </span>
            ))}
          </div>
        </article>
      )
    )
  }
</div>
